.carousel img {
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 50px;
  }
  
  .carousel {
    margin: auto;
    height: 100%;
  }

  .carousel .small {
      margin: 30px 0;
  }
  .carousel .medium {
      margin: 50px 0;
  }
  .carousel .large {
      margin: 100px 0;
  }
  .carousel .none {
      margin: 0;
  }

  .carousel div:focus {
      outline: none;
  }