/* Style the button that is used to open and close the collapsible content */
.collapsible {
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* .active,
.collapsible:hover {
  background-color: rgb(227, 227, 227);
} */


/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px 0 11px;
  display: none;
  overflow: hidden;
  margin-top: -25px;
  /* background-color: #f1f1f1; */
}

.collapsible:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
  margin-top: -19px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.collapsible:focus {
  outline: none;
}