* {
  font-family: sans-serif !important;
}

.shadow-style {
  text-shadow: 3px 3px 3px #000;
}

a {
  border-bottom: none !important;
}

.postcard a {
  box-sizing: none !important;
}

a.anchor.before {
  border-bottom: 0;
  box-shadow: none;
}

.headerimage img {
  margin-bottom: 0 !important;
}
